<p>Este es el contenido del componente modal</p>
<p>Este es el valor de la variable pasada desde el padre: {{ laVariable }}</p>
<br>
<p>Este es un valor que está siendo modificado en el hijo y que será pasado al padre:</p>
<input #cajaTexto nz-input placeholder="Basic usage" [(ngModel)]="variableInterna"/>
