<div class="home">
    <h1>Ejemplo de ventana modal</h1>
    <h2>con NG-Zorro</h2>

    <br>
    <button nz-button nzType="primary" (click)="abrirModal(modalFooter)">
        <i nz-icon nzType="credit-card" nzTheme="outline" style="font-size: 1.5em;"></i>
        <span>abrir ventana modal</span>
    </button>
    <br><br>

    <h2>Resultado</h2>
    <pre>{{ resultadoModal | json }}</pre>

    <ng-template #modalFooter>
        <div nz-row nzJustify="space-between">
            <nz-space>
                <ng-container *nzSpaceItem>
                    <button nz-button nzType="primary" nzDanger (click)="cancelar()">
                        <i nz-icon nzType="stop" nzTheme="outline"></i>
                        <span>Cancelar</span>
                    </button>
                </ng-container>
                <ng-container *nzSpaceItem>
                    <button nz-button nzType="primary" (click)="guardar()">
                        <i nz-icon nzType="check-circle" nzTheme="outline"></i>
                        <span>Guardar</span>
                    </button>
                </ng-container>
            </nz-space>
        </div>
    </ng-template>
</div>
